

body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif; 
    background-color: #f0f0f0; 
    color: #333;
}       

a {
    text-decoration: none;
    color: aliceblue;  
    width: 100%;
    height: 100%;
}

img {
    border-radius: 5%;
    padding: 0;
}

h2 {
    padding: 0;
    margin: 0;
    width: max-content;
}

p {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    width: 125px;
    text-align: center;
}
/* HEADER FORMAT */

header {
    position: sticky  ;
    top: 0;
    width: 100%;
    height: 100%;
    color: aliceblue;
    background-color: black;
    margin-top: 0;
    z-index: 3;
}

#title {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top:0;
    padding: 10px;

}

/* NAVIGATION TOP */

#navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 25px;
    padding-bottom: 10px;
}

#navigation-bar a:link {
    color: aliceblue;
}

#navigation-bar a:active {
    color: rgb(141, 161, 161);
}


/* DROPDOWN MENU */

.dropdown {
    position: relative;
    border-left: 2px;
    border-color: aliceblue;
    border-left-style: solid;
}

#services-menu {
    position: absolute;
    top: 125%;
    left: 0px;
    z-index: 2;
    padding-left: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2vh);
    transition: opacity 0.3s, transform 0.1s;
}

#services-menu a {
    display: block;
    white-space: nowrap;
    margin-top: 8px;
    margin-bottom: 8px;
}

.dropdown:hover #services-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    background-color: black;
    border-radius: 5%;
}


:root {
    font-size: 16px;
  
    /* Mobile Fonts */
    --biggest-mobile: 2.75rem;
    --bigger-mobile: 2rem;
    --big-mobile: 1.75rem;
    --h1-mobile: 1.5rem;
    --h2-mobile: 1.25rem;
    --h3-mobile: 1rem;
    --h4-mobile: 0.938rem;
    --small-mobile: 0.813rem;
    --smaller-mobile: 0.75rem;
  
    /* Desktop Fonts */
    --biggest: 6rem;
    --bigger: 4rem;
    --big: 3.5rem;
    --h1: 2.25rem;
    --h2: 1.5rem;
    --h3: 1.25rem;
    --h4: 1rem;
    --small: 0.875rem;
    --smaller: 0.813rem;
  
    /* Colors */
    --purple: #8b52ff;
    --pink: #ff52ae;
    --black: #000000;
    --gradient-color: linear-gradient(
      90deg,
      rgba(255, 82, 175, 1) 0%,
      rgba(159, 83, 255, 1) 100%
    );
    --white-color: #ffffff;
  
    /* light mode colors*/
    --body-color: #f5f0ff;
    --container-color: #ffffff;
    --first-color-dark: #1e0849;
    --first-color-light: #e5d9fd;
    --text-color-light: #4b3e65;
    --title-color: #220953;
  
    /* dark mode colors */
  
    --dark-body-color: #14092a;
    --dark-container-color: #372a51;
    --dark-text-color: #a094b8;
    --dark-title-color: #d1c0f1;
    --dark-text-color-light: #a197b4;
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Lora", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }