:root {
    font-size: 16px;

    /* Mobile Fonts */
    --biggest-mobile: 2.75rem;
    --bigger-mobile: 2rem;
    --big-mobile: 1.75rem;
    --h1-mobile: 1.5rem;
    --h2-mobile: 1.25rem;
    --h3-mobile: 1rem;
    --h4-mobile: 0.938rem;
    --small-mobile: 0.813rem;
    --smaller-mobile: 0.75rem;

    /* Desktop Fonts */
    --biggest: 6rem;
    --bigger: 4rem;
    --big: 3.5rem;
    --h1: 2.25rem;
    --h2: 1.5rem;
    --h3: 1.25rem;
    --h4: 1rem;
    --small: 0.875rem;
    --smaller: 0.813rem;

    /* Colors */
    --purple: #8b52ff;
    --pink: #ff52ae;
    --black: #000000;
    --gradient-color: linear-gradient(90deg,
            rgb(253, 253, 253) 0%,
            rgb(3, 3, 3) 100%);
    --white-color: #ffffff;

    /* light mode colors*/
    --body-color: #f5f0ff;
    --container-color: #ffffff;
    --first-color-dark: #1e0849;
    --first-color-light: #e5d9fd;
    --text-color-light: #4b3e65;
    --title-color: #220953;

    /* dark mode colors */

    --dark-body-color: #14092a;
    --dark-container-color: #372a51;
    --dark-text-color: #a094b8;
    --dark-title-color: #d1c0f1;
    --dark-text-color-light: #a197b4;
}

/* HEADER FORMAT */

header {
    position: -webkit-sticky;
    position:sticky;
    color: aliceblue;
    background-color: black;
    z-index: 3;
    top: 0;
    width: 100%;
}

.title {
    text-align: center;
    font-size: var(--h1);
    padding:1%;
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

/* NAVIGATION TOP */

.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1%;
    gap: 4%;
    transition: 0.2s;
    font-size: var(--h4);
    width: 100%;
}

.navigation-bar li:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.navigation-bar a:link {
    color: aliceblue;
}

.navigation-bar a:active {
    color: rgb(141, 161, 161);
}

#services-menu {
    display: flex;
    flex-direction: row;
    gap: 5%;
}




/* DROPDOWN MENU */

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li { 
    position: relative;
    display: inline-block;
}

ul li a {
    display: block;
    text-decoration: none;
    color: var(--white-color);
    background: none;
}

ul li a:hover {
    background-color: var(--black);
}

/* Dropdown menu styles */
.dropdown ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    box-shadow: 0 2% 4% rgba(0,0,0,0.1);
    width: 100%;
}

.dropdown ul li {
    display: block;
    width: 100%;
}

.dropdown ul li a {
    padding: 4%;
    width: 100%;
}

#index-checkbox {
    visibility: hidden;
}

/* Show the dropdown menu on hover */
.dropdown:hover ul  {
    visibility: visible;
    transition: 0.2s;
    

}

/*  GENERAL SETUP */
body {
    box-sizing: border-box;
    font-family: "Lora", serif;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color: #333;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: aliceblue;
}

li {
    list-style: none;
}