#main-content-format {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 100%;
    padding: 2%;
    gap: 1%;    
    align-content: space-evenly ;
}


.content-format {
    position: relative;
    width: 15rem;   
    height: 25rem;
    z-index: 1;
    transition: 0.25s;
    justify-self: center;
}

.content-format:hover {
    transform: scale(1.1);
    transition: 0.25s;
}

.img-format {
    border-radius: 5%;
    width: 95%;
    height: 80%;
}
