#main-content-format {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 100%;
    padding: 2%;
    gap: 1%;
}


.content-format {
    position: relative;
    width: 15rem;
    height: 28rem;
    z-index: 1;
    transition: 0.25s;
}

.content-format:hover {
    transform: scale(1.1);
    transition: 0.25s;
}

.img-format {
    width: 100%;
    height: 80%;
    transition: 0.25s;   
}
