@media screen and (max-width: 575px) {
    /* HEADER FORMAT */

    header {
        display: flex;
        flex-direction: column;
    }

    .title {
        font-size: var(--big-mobile);
    }

    
    #services-menu {
        display: flex;
        justify-content: center;
    }

    .haburguer-icon {
        position: absolute;
        visibility: visible;
        transform: scale(1.5);
    }

    .haburguer-icon:checked .dropdown ul {
        display: block;
        visibility: visible;
    }

    .services-menu-title {
        position: relative;
        visibility: hidden;
    }

    .navigation-bar {
        display: flex;
        text-align: right;  
        flex-direction: row;
        clear: both;
        justify-content: center;
        gap: 3%;
        padding-bottom: 3%;
        transition: 0.2s;
        font-size: var(--smaller-mobile);
    }

    
}