@media screen and (max-width: 575px) {
    #main-content-format {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: auto;
        margin: 2%;
        gap: 1%;
        justify-content: space-between;
    }

    .content-format {
        position: relative;
        width: 12rem;
        height: 25rem;
        z-index: 1;
        transition: 0.25s;
    }

    .content-format:hover {
        transform: scale(1.050);
        transition: 0.25s;
    }
    
}