@media screen and (max-width: 900px) {
    #main-content-format {
        display: grid;
        grid-template-columns: repeat(6, 1fr);

    }

    .content-format {
        width: 12rem;
        transition: 0.25s;
    }

    .content-format:hover {
        transform: scale(1.050);
        transition: 0.25s;
    }

    article h2.content-format {
        font-size: var(--h2-mobile);
    }


    .down {
        visibility: hidden;
    }
}